@charset "utf-8";
*{font-family:'Schoolbell', cursive, Verdana, Geneva, Tahoma, sans-serif;
     margin: 0;
        padding: 0;
        
    }

/*Seteo de Flex*/
.Contenedor{display: flex;
    background-color:#faebd7;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    padding-bottom: 10px;}
.Logo img {
    max-width: 200px; 
    }    
 /*NavBar*/
.Contenedor a{
    text-decoration: none;
    
    }
    /*Seteamos los <a> del Navbar según las clases */
.Inicio a,  .Administracion a,  .Novedades a, .Contacto a {
    color:darkcyan;
    text-decoration:none;
    font-weight: bold;
    font-size: 20px;
    
    } 
    /*Armamos la transición:*/
.Inicio a::after,.Novedades a:after, .Administracion a:after,.Contacto a:after {
    width: 4px;
    height: 4px;
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.4s ease transform;
    }   

.Inicio a:hover:after,.Novedades a:hover:after,.Administracion a:hover:after,.Contacto a:hover:after{
    transform: scale(2);
    }
.Inicio a::after {
    background-color: rgb(208, 137, 137);
    }
.Novedades a::after {
    background-color: #cc79ff;
    }
.Administracion a::after {
    background-color: rgb(156, 236, 194);
    }
.Contacto a::after {
    background-color: rgb(253, 255, 139);
    }

.Inicio a:hover,.Novedades a:hover, .Administracion a:hover,.Contacto a:hover {
        color:rgb(0, 70, 110);
        } 
        
/*Animación de títulos*/
.Titulo{
   text-align: center;
   animation: titulo 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
   color: darkcyan;
   
}
label, legend{color: darkcyan;}
@keyframes titulo {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
    
/* Carrusel de fotos */
.Cuerpo{
    max-width: 70%;    
   background: rgba(0, 165, 255, 0.04);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
border: 1px dashed rgba(0, 166, 255, 0.152);
}
    .carousel {
        display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .carousel-inner {
        position: relative;
        overflow: hidden;
        width: 100%;
        }
    
        .carousel-open:checked + .carousel-item {
        position: static;
        opacity: 100;
        }
    
        .carousel-item {
        position: absolute;
        opacity: 0;
        -webkit-transition: opacity 0.6s ease-out;
        transition: opacity 0.6s ease-out;
        }
    
        .carousel-item img {
        display: block;
        height: auto;
        max-width: 100%;
        }
    
        .carousel-control {
        background: rgb(0, 0, 0);
        border-radius: 50%;
        color: rgb(255, 255, 255);
        cursor: pointer;
        display: none;
        font-size: 40px;
        height: 40px;
        line-height: 35px;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        cursor: pointer;
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        text-align: center;
        width: 40px;
        z-index: 10;
        }
    
        .carousel-control.prev {
        left: 2%;
        }
    
        .carousel-control.next {
        right: 2%;
        }
    
        .carousel-control:hover {
        background: rgb(0, 0, 0);
        color: #aaaaaa;
        }
    
        #carousel-1:checked ~ .control-1,
        #carousel-2:checked ~ .control-2,
        #carousel-3:checked ~ .control-3 {
        display: block;
        }
    
        .carousel-indicators {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 2%;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 10;
        background-color: black;
        }
    
        .carousel-indicators li {
        display: inline-block;
        margin: 0 5px;
        }
    
        .carousel-bullet {
        color: #fff;
        cursor: pointer;
        display: block;
        font-size: 35px;
        background-color: black
        }
    
.carousel-bullet:hover {
    color: #aaaaaa;
}
    
#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
    }     
/*Footer*/ 
  footer{
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}
footer img{
    width: 40%;
    border-radius: 10px;
    transition: 3s;
}
#social{
    width: 15px; 
    color: white;
    text-decoration: none;
    padding-top: 20px;
    background-color: black;
}
footer p{background-color: black;}

/* Filosofía */
.filosofia .Titulo {
    color: #008b8b;
    text-align: center;
    font-size: 30px;
}
.filosofia .Texto{
    color: #008b8b;
    animation: Texto 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    font-size: 30px;
    text-justify: auto;
}
@keyframes Texto {
    0% {
      transform: translateY(0);
      transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      transform: translateY(-50px);
      transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  
/*Administración*/
.Contenedor2{
    display: block;
    background-color: antiquewhite;
}
.Contenedor2 h1{
    margin: 0;
}
.cuadro-tarifario{
    display: block;
    margin:auto;
}
.Medios-de-Pago{
    display: block;
    margin:auto;
}
.Contenedor2 p, .Contenedor2 h2, .Contenedor2 h1{
    text-align: center;
} 

/*Novedades*/

.Contenedor3{
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 70%;
    background-color:antiquewhite;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    background: rgba(0, 165, 255, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(0, 165, 255, 0.29);
}
 /* Novedades */ 
.Contenedor3 .Subtitulo {
    color: #008b8b;
    text-align: center;
    font-size: 30px;
}
.Contenedor3 p{
    color: #008b8b;
    animation: Texto-novedades 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    font-size: 30px;
    text-align: center;

}
@keyframes Texto-novedades {
    0% {
      transform: translateY(0);
      transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      transform: translateY(-1px);
      transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
.Contenedor3 img{
    display: block;
    margin: auto;
    width: 50%;
}


/* Formulario*/
.ContenedorForm{
    display:block;
    background-color: #faebd7;
  }
  .ContenedorForm label{
    display: block;
    float:left;
    width:60px;
  }
  .Nombre, .Apellido, .Mail, .Area-de-Texto{
    display:block;
    margin:auto;
    width:20%;
  }
  .Boton{
    display:block;
    margin:auto;
    width:30%;
    text-align:center;
  }
  .Boton input{
    background: rgba(0, 166, 255, 0.389);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(0, 165, 255, 0.29);
  }
  #error{
    display: block;
    margin: auto;
    background: rgba(255, 240, 0, 0.64);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 240, 0, 0.29);
    text-align: center;
    width: 20%;
  }
  #error::after,#correcto::after{
    display: hidden;
  }
  #correcto{
    display: block;
    margin: auto;
    background: rgba(13, 255, 0, 0.64);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 240, 0, 0.29);
    text-align: center;
    width: 20%;

  }
  textarea{
    resize: none;}
  .direccion{
     text-align: center;
     color: darkcyan;
     text-decoration: none;
  }
  .Mapa iframe{
      display: block;
      margin: auto;
      border:0px;
      width: 500px;
      height: 200px;
  }
/*Punto de Corte para Tablets-Celulares*/
@media only screen and (max-width: 1023px) and (min-width:768px){
    /*General*/
   .Logo img {
        max-width: 150px; 
        }
    .Titulo{
        font-size: 28px;
    }    
    /*Carrusel*/
    .carousel-control {
        background: rgba(0, 0, 0, 0);
        border-radius: 0%;
        color: rgba(255, 255, 255, 0);
        height: 100%;
        width: 80px;
        }
        .carousel-bullet {
            font-size: 20px;
        }

        .carousel-control:hover {
        background: rgba(0, 0, 0, 0);
        color: #aaaaaa00;
        }
        /*Home Page*/
        .filosofia .Texto, .filosofia .Titulo{
            font-size: 20px;
        }
        
        /* Novedades */
    .Contenedor3 .Subtitulo {
    font-size: 20px;
    }
    .Contenedor3 p{
    font-size: 15px;

    }
        /*Contacto*/
        .ContenedorForm label{
            display: block;
            float:left;
            width:90px;
          }
        .Nombre, .Apellido, .Mail, .Area-de-Texto{
            display:block;
            margin:auto;
            width:30%;
          }  
        .Mapa iframe{
            border:0px;
            width: 300px;
            height: 200px;
        }    
        
          
}
/*Punto de Corte para Celulares*/
@media only screen and (max-width: 767px){
    .Logo {
          width: 100%;
    }
    .Logo img{
        display: block;
        margin:auto;
    }
    .Titulo{
        font-size: 23px;
    }    
    .filosofia .Texto, .filosofia .Titulo{
            font-size: 15px;
            text-align: center;
        }  
    .Inicio a,  .Administracion a,  .Novedades a, .Contacto a{
        padding-bottom: 10px;
        display: block;
        
    }
    
    .carousel-control {
        background: rgba(0, 0, 0, 0);
        border-radius: 0%;
        color: rgba(255, 255, 255, 0);
        height: 100%;
        width: 80px;
    }
    .carousel-control:hover {
        background: rgba(0, 0, 0, 0);
            color: #aaaaaa00;
    } 
    .carousel-bullet {
        font-size: 15px;
    }
    /*Administracion*/
    .cuadro-tarifario, .Medios-de-Pago{
        width: 100%;
    }
        /* Novedades */
        .Contenedor3 img {
            display: block;
            margin: auto;
            width: 80%;
        }
        .Contenedor3 .Subtitulo {
            font-size: 20px;
        }
        .Contenedor3 p{
        font-size: 12px;
        }
   /*Contacto*/
   .ContenedorForm label{
    display: block;
    float:left;
    width:90px;
  }
.Nombre, .Apellido, .Mail, .Area-de-Texto{
    display:block;
    margin:auto;
    width:30%;
  }  
.Mapa iframe{
    border:0px;
    width: 300px;
    height: 200px;
} 

}